[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
flask-jwt-extended = "*"
pymongo = "*"
passlib = "*"
flask-cors = "*"
flask-mail = "*"
flask-restful = "*"
pillow = "*"
pytesseract = "*"

[dev-packages]

[requires]
python_version = "3.6"
