<mat-card style="background: ivory;width: 25%;">
    <mat-card-title>
        Sign Up
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="signUpUser()">
            <p>
                <mat-form-field>
                    <input matInput type="text" formControlName="fName" placeholder="First Name" required>
                    <mat-error *ngIf="form.hasError('required', 'fName')">
                        Please enter your new password
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput type="text" formControlName="lName" placeholder="Last Name" required>
                    <mat-error *ngIf="form.hasError('required', 'lName')">
                        Please enter your new password
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput type="text" formControlName="email" placeholder="Email Address" required>
                    <mat-error *ngIf="form.hasError('required', 'email')">
                        Please enter your new password
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput type="password" formControlName="password" placeholder="Password" required>
                    <mat-error *ngIf="form.hasError('required', 'password')">
                        Please enter your new password
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput type="password" formControlName="confirmPass" placeholder="Confirm Password" required>
                    <mat-error *ngIf="form.hasError('required', 'confirmPass')">
                        Please enter your new password
                    </mat-error>
                </mat-form-field>
            </p>

            <button mat-raised-button color="primary" class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </mat-card-content>
</mat-card>