<mat-card style="width: 35%;margin-top: 10%;background: lightyellow;;">
    <mat-card-title>
        Reset Password
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onResetPassword()">
            <div class="row">
                <mat-form-field style="text-align: center;">
                    <input formControlName="password" matInput type="password" placeholder="Please Enter New Password">
                </mat-form-field>
                <mat-form-field style="text-align: center;">
                    <input formControlName="confPassword" matInput type="password" placeholder="Please Confirm New Password">
                </mat-form-field>
            </div>
            <div class="row">
                <button mat-raised-button color="primary" type="submit">Send</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>