<mat-card style="background: ivory;width: 35%;margin-top: 20px;">
    <mat-card-title>Sign In</mat-card-title>
    <img src="../../../assets/img/login_page.jpg" width="100%" height="300">
    <br>
    <br>
    <mat-card-content>
        <div class="row">
            <form [formGroup]="form" (ngSubmit)="signInUser()">
                <p>
                    <mat-form-field>
                        <input matInput type="text" formControlName="email" placeholder="Email" required>
                        <mat-error *ngIf="form.hasError('required', 'email')">
                            Please enter your email
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" placeholder="Password" required>
                        <mat-error *ngIf="form.hasError('required', 'password')">
                            Please enter your new password
                        </mat-error>
                    </mat-form-field>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <button mat-raised-button color="primary" type="submit">Sign In</button>
                    </div>
                    <div class="col-md-6">
                        <button style="background: darkolivegreen;" mat-raised-button color="primary" (click)="onSignup()">Sign Up</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <a (click)="onForgetPassword()" href="_">Forget Passowrd?</a>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>