<mat-card style="width: 35%;margin-top: 10%;background: lightyellow;;">
    <mat-card-title>
        Forget Password
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <form [formGroup]="form" (ngSubmit)="onForgetPassword()">
                <div class="row">
                    <mat-form-field>
                        <input formControlName="email" matInput type="text" placeholder="Please Enter Email Address">
                    </mat-form-field>
                </div>
                <div class="row">
                    <button mat-raised-button color="primary" type="submit">Send</button>
                </div>
                <div class="row" style="display: flex; justify-content: left;">
                    <a [routerLink]="''" href="#">Sigin In ?</a>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>